<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get People</title>
</head>
<body>
    {% for person in people %}
    <h3>id : {{ person.id }}</h3>
    <h3> photo:
        <img src="{{ url_for('static', filename=person.vk_photo) }}"></h3>
    <h3>vk : {{ person.vk_url }}</h3>
    {% endfor %}
    {% for person in people %}
        <h3>id : {{ person.id }}</h3>
        <h3> photo: {{ person.vk_photo }}</h3>
        <h3>vk : {{ person.vk_url }}</h3>
    {% endfor %}
</body>
</html>